@font-face {
    font-family: 'ProximaNova';
    src: local('Proxima Nova'), url('../fonts/proxima/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}